In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv('brazilian-cities/BRAZIL_CITIES.csv', sep=";", decimal=",")

In [4]:
data.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0

### Separando as features que não são categóricas

In [5]:
features = ["CITY", "STATE", "IBGE_RES_POP", "IBGE_RES_POP_BRAS", "IBGE_RES_POP_ESTR", "IBGE_DU", "IBGE_DU_URBAN", "IBGE_DU_RURAL", "IBGE_POP", "IBGE_1", "IBGE_1-4", "IBGE_5-9", "IBGE_10-14", "IBGE_15-59", "IBGE_60+", "IBGE_PLANTED_AREA", "IBGE_CROP_PRODUCTION_$", "IDHM Ranking 2010", "IDHM", "IDHM_Renda", "IDHM_Longevidade", "IDHM_Educacao", "LONG", "LAT", "ALT", "PAY_TV", "FIXED_PHONES", "AREA", "ESTIMATED_POP", "RURAL_URBAN", "GVA_AGROPEC", "GVA_INDUSTRY", "GVA_SERVICES", "GVA_PUBLIC", "TAXES", "GDP", "POP_GDP", "GDP_CAPITA", "MUN_EXPENDIT", "COMP_TOT", "COMP_A", "COMP_B", "COMP_C", "COMP_D", "COMP_E", "COMP_F", "COMP_G", "COMP_H", "COMP_I", "COMP_J", "COMP_K", "COMP_L", "COMP_M", "COMP_N", "COMP_O", "COMP_P", "COMP_Q", "COMP_R", "COMP_S", "COMP_T", "COMP_U", "HOTELS", "BEDS", "Pr_Agencies", "Pu_Agencies", "Pr_Bank", "Pu_Bank", "Pr_Assets", "Pu_Assets", "Cars", "Motorcycles", "Wheeled_tractor", "UBER", "MAC", "WAL-MART", "POST_OFFICES"]
df = data[features]

In [6]:
df.shape

(5573, 76)

In [35]:
features2 = ["CITY", "STATE", "IBGE_DU_RURAL", "IBGE_POP", "IBGE_PLANTED_AREA", "IDHM Ranking 2010", "IDHM", "IDHM_Renda", "IDHM_Longevidade", "IDHM_Educacao", "LONG", "LAT", "ALT", "PAY_TV", "FIXED_PHONES", "AREA", "ESTIMATED_POP", "RURAL_URBAN", "GVA_AGROPEC", "GVA_INDUSTRY", "GVA_SERVICES", "GVA_PUBLIC", "TAXES", "GDP_CAPITA", "MUN_EXPENDIT", "COMP_TOT", "HOTELS", "Pr_Assets", "Pu_Assets", "Cars", "Motorcycles", "UBER", "MAC", "WAL-MART", "POST_OFFICES"]
df2 = data[features2]

In [36]:
df2

,CITY,STATE,IBGE_DU_RURAL,IBGE_POP,IBGE_PLANTED_AREA,IDHM Ranking 2010,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,...,COMP_TOT,HOTELS,Pr_Assets,Pu_Assets,Cars,Motorcycles,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,591.0,5300.0,319.0,1689.0,0.708,0.687,0.83,0.622,...,284.0,NaN,NaN,NaN,2158.0,1246.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,847.0,4154.0,4479.0,2207.0,0.69,0.693,0.839,0.563,...,476.0,NaN,NaN,NaN,2227.0,1142.0,NaN,NaN,NaN,1.0
2,Abadiânia,GO,1422.0,10656.0,10307.0,2202.0,0.69,0.671,0.841,0.579,...,288.0,1.0,33724584.0,67091904.0,2838.0,1426.0,NaN,NaN,NaN,3.0
3,Abaeté,MG,1027.0,18464.0,1862.0,1994.0,0.698,0.72,0.848,0.556,...,621.0,NaN,44974716.0,371922572.0,6928.0,2953.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,12004.0,82956.0,25200.0,3530.0,0.628,0.579,0.798,0.537,...,931.0,NaN,76181384.0,800078483.0,5277.0,25661.0,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5568,Xique-Xique,BA,3176.0,32497.0,1601.0,4533.0,0.585,0.563,0.741,0.479,...,420.0,NaN,51944373.0,276223306.0,2125.0,5064.0,NaN,NaN,NaN,2.0
5569,Zabelê,PB,184.0,1469.0,90.0,3639.0,0.623,0.567,0.725,0.587,...,20.0,NaN,NaN,NaN,87.0,162.0,NaN,NaN,NaN,NaN
5570,Zacarias,SP,161.0,1836.0,10607.0,1072.0,0.73,0.695,0.826,0.674,...,111.0,NaN,NaN,NaN,901.0,346.0,NaN,NaN,NaN,1.0
5571,Zé Doca,MA,4275.0,30803.0,6124.0,4272.0,0.595,0.559,0.745,0.505,...,470.0,NaN,34835818.0,531526331.0,1725.0,11087.0,NaN,NaN,NaN,1.0
5572,Zortéa,SC,226.0,2326.0,8360.0,364.0,0.76,0.752,0.885,0.661,...,76.0,NaN,NaN,NaN,1077.0,359.0,NaN,NaN,NaN,1.0

#### Tranformando a coluna para float

In [38]:
df2["IDHM"] = df2["IDHM"].astype(float)

/home/giovanna/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### Menor valor de IDHM entre as cidades

In [10]:
df2.IDHM.min()

0.418

#### Maior valor de IDHM entre as cidades

In [11]:
df2.IDHM.max()

0.862

#### Média de IDHM por estados

### SP

In [22]:
#Usando groupby
df2[df2.STATE == "SP"].IDHM.mean()

0.639

### MG

In [21]:
df2[df2.STATE == "MG"].IDHM.mean()

0.529

### RJ

In [14]:
df2[df2.STATE == "RJ"].IDHM.mean()

0.7088478260869565

### ES

In [15]:
df2[df2.STATE == "ES"].IDHM.mean()

0.6920000000000002

### RS

In [16]:
df2[df2.STATE == "RS"].IDHM.mean()

0.713558467741936

### AC

In [17]:
df2[df2.STATE == "AC"].IDHM.mean()

0.5864090909090909

### AL

In [20]:
df2[df2.STATE == "AL"].IDHM.mean()

0.5635392156862744

In [39]:
df2[(df2.IDHM >= 0.499) & df2.IDHM <= 0.600 ].head()

,CITY,STATE,IBGE_DU_RURAL,IBGE_POP,IBGE_PLANTED_AREA,IDHM Ranking 2010,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,...,COMP_TOT,HOTELS,Pr_Assets,Pu_Assets,Cars,Motorcycles,UBER,MAC,WAL-MART,POST_OFFICES
40,Afuá,PA,4769.0,9408.0,140.0,5544.0,0.489,0.485,0.774,0.311,...,36.0,NaN,0.0,50400651.0,2.0,4.0,NaN,NaN,NaN,1.0
184,Amajari,RR,713.0,1218.0,1605.0,5551.0,0.484,0.437,0.815,0.319,...,17.0,1.0,NaN,NaN,192.0,356.0,NaN,NaN,NaN,1.0
213,Anajás,PA,2922.0,9443.0,267.0,5550.0,0.484,0.506,0.774,0.29,...,62.0,NaN,0.0,41401980.0,5.0,278.0,NaN,NaN,NaN,1.0
418,Atalaia Do Norte,AM,515.0,6838.0,470.0,5563.0,0.450,0.481,0.733,0.259,...,6.0,1.0,NaN,NaN,18.0,401.0,NaN,NaN,NaN,1.0
453,Bagre,PA,2236.0,10608.0,191.0,5558.0,0.471,0.481,0.777,0.28,...,38.0,NaN,NaN,NaN,11.0,157.0,NaN,NaN,NaN,1.0

In [40]:
def get_rotulo(value):
    if value >= 0.8:
        return "muito alto"
    elif 0.69 < value <= 0.79:
        return "alto"
    elif 0.59 < value <= 0.69:
        return "médio"
    elif 0.49 < value <= 0.59:
        return "baixo"
    else:
        return "muito baixo"

In [41]:
df2["rótulo"] = df2["IDHM"].apply(get_rotulo)

/home/giovanna/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df2

,CITY,STATE,IBGE_DU_RURAL,IBGE_POP,IBGE_PLANTED_AREA,IDHM Ranking 2010,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,...,HOTELS,Pr_Assets,Pu_Assets,Cars,Motorcycles,UBER,MAC,WAL-MART,POST_OFFICES,rótulo
0,Abadia De Goiás,GO,591.0,5300.0,319.0,1689.0,0.708,0.687,0.83,0.622,...,NaN,NaN,NaN,2158.0,1246.0,NaN,NaN,NaN,1.0,alto
1,Abadia Dos Dourados,MG,847.0,4154.0,4479.0,2207.0,0.690,0.693,0.839,0.563,...,NaN,NaN,NaN,2227.0,1142.0,NaN,NaN,NaN,1.0,médio
2,Abadiânia,GO,1422.0,10656.0,10307.0,2202.0,0.690,0.671,0.841,0.579,...,1.0,33724584.0,67091904.0,2838.0,1426.0,NaN,NaN,NaN,3.0,médio
3,Abaeté,MG,1027.0,18464.0,1862.0,1994.0,0.698,0.72,0.848,0.556,...,NaN,44974716.0,371922572.0,6928.0,2953.0,NaN,NaN,NaN,4.0,alto
4,Abaetetuba,PA,12004.0,82956.0,25200.0,3530.0,0.628,0.579,0.798,0.537,...,NaN,76181384.0,800078483.0,5277.0,25661.0,NaN,NaN,NaN,2.0,médio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5568,Xique-Xique,BA,3176.0,32497.0,1601.0,4533.0,0.585,0.563,0.741,0.479,...,NaN,51944373.0,276223306.0,2125.0,5064.0,NaN,NaN,NaN,2.0,baixo
5569,Zabelê,PB,184.0,1469.0,90.0,3639.0,0.623,0.567,0.725,0.587,...,NaN,NaN,NaN,87.0,162.0,NaN,NaN,NaN,NaN,médio
5570,Zacarias,SP,161.0,1836.0,10607.0,1072.0,0.730,0.695,0.826,0.674,...,NaN,NaN,NaN,901.0,346.0,NaN,NaN,NaN,1.0,alto
5571,Zé Doca,MA,4275.0,30803.0,6124.0,4272.0,0.595,0.559,0.745,0.505,...,NaN,34835818.0,531526331.0,1725.0,11087.0,NaN,NaN,NaN,1.0,médio
5572,Zortéa,SC,226.0,2326.0,8360.0,364.0,0.760,0.752,0.885,0.661,...,NaN,NaN,NaN,1077.0,359.0,NaN,NaN,NaN,1.0,alto